# PRIMITIVE DATA TYPES

## Example 1: Numbers
A sample of int and float data types, and some of the legal operations.

In [ ]:
10 * 4

In [ ]:
100     # int

In [ ]:
10 / 3  # float

In [ ]:
10 / 2  # still a float -- dividing 2 numbers is always a float

In [ ]:
2 ** 4  # exponent

In [ ]:
8675309 ** 890     # Really big number!

In [ ]:
.12345678901234567890123456789

In [ ]:
30 / 400

In [ ]:
30 / 4000000000

In [ ]:
9 ** 0.5  # square root of 9

In [ ]:
13 ** 0.5

In [ ]:
(13 ** 0.5) ** 2  # square root of 13 squared (not quite the original, but close)

In [ ]:
float(3)

In [ ]:
int(6.75)  # note: doesn't round, but truncates

## Example 2: Strings

In [ ]:
'Flavor'

In [ ]:
'any snippet of text'

In [ ]:
'2' + 'xyz'    # concatenation

In [ ]:
'2' + '2'  # how would you get this to calculate the sum of 2 + 2?

In [ ]:
'straw' + 'berry'

In [ ]:
'two ' + 'words'  # don't forget the space!

In [ ]:
'I rule. ' * 50

In [ ]:
# Note: this will produce an error because you can't add a number and a string together
# uncomment the line below to see what happens:
# print(2 + 'x')

In [ ]:
# Note: this will produce an error because the apostrophe is not escaped.
# uncomment the line below to see what happens:
# print('I'm a programmer!')

In [ ]:
# In this example, the apostrophe is properly escaped with a backslash character.
'I\'m a programmer!'

In [ ]:
'Here is a sentance without a newline character (\\n).'

In [ ]:
# Note: two \n newline characters.
'Here is a sentance with\ntwo new\nline characters (\\n).'

## Example 3: Booleans

In [ ]:
True

In [ ]:
123 == 123  # expression that evaluates to true using comparison operator (==, >, <, >=, <=, etc.)

In [ ]:
123 == 124  # expression that evaluates to false using comparison operator

In [ ]:
True and False  # expression that evaluates to false using logical operator (and, or, not)

In [ ]:
True or False

In [ ]:
123 == 123 and 123 == 124 # you can combine expressions using logical operators

In [ ]:
123 == 123 or 123 == 124

In [ ]:
True + True + True  # True converts to the value 1 (you will rarely do this)

In [ ]:
False + False  # True converts to the value 0

In [ ]:
True > False

In [ ]:
False or False

In [ ]:
False and False

In [ ]:
False and True

In [ ]:
not False

In [ ]:
not True

## Example 4: Detecting data types

In [ ]:
type(2.3)

In [ ]:
type(100)

In [ ]:
type('abcd')

In [ ]:
a = 5.7
type(a)

In [ ]:
type(True)

In [ ]:
type(0)

In [ ]:
type (123 == 124)

In [ ]:
type(123 == 123 and 123 == 124)

## Example 5: Converting between data types

In [ ]:
float('2.3')  # converts a string to a float

In [ ]:
str(2)

In [ ]:
int('2')

In [ ]:
# int('2.5')  # this will throw an error. Give it a try.

In [ ]:
str(['3', '2'])

In [ ]:
int(True)

In [ ]:
int(0)

In [ ]:
bool(None)

In [ ]:
bool(0)  # 0 is also used to denote false

In [ ]:
bool(1)  # 1 is also used to denote true

In [ ]:
bool('Hey there!')  # any non-zero or non-null value converts to true